@model _23DH110513_MyStore.Models.Category

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="bg-success">XÓA DANH MỤC</h2>

@*@Html.DisplayFor(model => model.CategoryName)*@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizonal">
        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <h4 class="bg-danger">Bạn có chắc muốn xóa danh mục này?</h4>
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2">Tên danh mục</div>
            <div class="col-md-10">
                @* Hiển thị giá trị của CategoriesName *@
                @Html.DisplayFor(model => model.CategoryName)
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Xóa" class="btn btn-primary" />
                    @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-primary " })
                </div>
            </div>
        </div>
    </div>
}

